---
layout: default
beliefs:
    - 
        title: Sample Belief
        icon: user
        content_markdown: |
            This is just some **content** testing out.
---
<div class="aboutPage">
    <div class="aboutPage__Title">
        <h1 class="editable">About Us: Our Beliefs</h1>
    </div><!--/aboutPage__Title-->
    <div class="aboutPage__Content">
    <div class="beliefs row small-up-1 medium-up-2 large-up-4">
       {% for item in page.beliefs %}
       <div class="belief column">
        <h3><i class="fa fa-{{item.icon}}"></i> {{item.title}}</h3>
        {% if item.content_markdown %}
            {{item.content_markdown | markdownify}}
        {% endif %}
        </div><!--/belief-->
       {% endfor %}
         </div><!--/beliefs-->
    </div><!--/aboutPage__Content-->
    </div><!--/aboutPage-->
   