---
layout: default
featured_image: /uploads/welcome.jpg
welcome_sections:
    -
        title:
        image:
        content_markdown:
---

<style type="text/css">
.welcomeHeader {
min-height: 400px;
background: url({{page.featured_image}}) no-repeat center center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: flex-end;
}
</style>

<div class="welcome">
    <div class="welcomeHeader">
        <h1 editable>Welcome to Bible Baptist Church</div><!-- /welcomeHeader -->
    <div class="content">
        {% for section in page.welcome_sections %}
        
        <div class="section">
            <div class="section-inner">
            <h2>{{section.title}}</h2>
            {% if section.image %}
            <img src="{{section.image}}" alt="">
            {% endif %}
            {{section.content_markdown | markdownify }}
            
            </div><!--/section-inner-->
        </div><!--/section-->
      {% endfor %}
        
           {% include map.html %}
        
    </div><!--/content-->
</div><!-- /welcome -->